---
layout: archive
title: "Portfolio"
permalink: /portfolio/
author_profile: true
---

{% include base_path %}

<p>Just for fun!</p>

<br/>
<hr> 
<br/>

<h1>heading 1</h1>
<br/><img src='/images/500x300.png'><br/><img src='/images/500x300.png'>"

<br/>
<hr> 
<br/>

<h1>heading 2</h1>
<br/><img src='/images/500x300.png'><br/><img src='/images/500x300.png'>"

<iframe width="560" height="315" src="https://www.youtube.com/embed/NriVfpWBR2M" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen"> </iframe>

<br/>
<hr> 
<br/>

{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

