---
layout: archive
title: "Portfolio"
permalink: /portfolio/
author_profile: true
---

{% include base_path %}

<p>This is a list of projects which I have done outside work or during my undergraduation</p>

<br/>
<hr> 
<br/>

<h1>MedBook</h1>
<h3>A Health and Fitness app</h3>
  
<br/><img src='/images/500x300.png'><br/><img src='/images/500x300.png'>"

<p>The primary feature of the app is to store and manage Medical records and documents in a structured manner over a cloud server i.e. Microsoft Azure. The records can be accessed from anywhere using the user's credentials.</p>
<p>More information at the <a href="https://github.com/a11apurva/MedBook">GitHub repo</a></p>

<div class="row">
  <div class="col-md-6">
    <img src='/images/500x300.png'>
  </div>
  <div class="col-md-6">  
    <p>The primary feature of the app is to store and manage Medical records and documents in a structured manner over a cloud server i.e. Microsoft Azure. The records can be accessed from anywhere using the user's credentials.</p>
    <p>More information at the <a href="https://github.com/a11apurva/MedBook">GitHub repo</a></p>
  </div>
</div>

<br/>
<hr> 
<br/>

<h1>heading 2</h1>
<br/><img src='/images/500x300.png'><br/><img src='/images/500x300.png'>"

<iframe width="560" height="315" src="https://www.youtube.com/embed/NriVfpWBR2M" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen"> </iframe>

<br/>
<hr> 
<br/>

{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

